.company__container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 140px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.company__about{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #BDBDBD;
}
.company__title{
    max-width: 347px;
    margin: 40px 0 60px;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    b{
        color: #005FA3;
    }
}
.company__discription{
    max-width: 445px;
    height: 245;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.company__item{
    max-width: 540px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.company__case{
    min-width: 255px;
    background: #EBEBEB;
    &:hover.company__case{
        background: #005FA3;
        .company__number{
            color: #fff;
    }
    .company__deal{
        color:#fff;
    }
    a{
        color: #fff;
    }
    }
}
.company__number{
font-family: 'Lato';
font-weight: 900;
font-size: 55px;
line-height: 66px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000;
margin: 30px 0 0 40px;
}
.company__deal{
max-width: 107px;
font-family: 'Lato';
font-weight: 700;
font-size: 14px;
line-height: 18px;
color: #000000;
margin: 30px 0 47px 40px;
}
.company__link{
padding: 0 0 30px 40px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
    a{  
    color: #005FA3;
    }
}
@media (min-width:320px) and (max-width:320px){
    .company__container{
        padding: 20px 0;
    }
    .company__about{
        text-align: center;
        font-size: 35px;
    }
    .company__title{
        text-align: center;
        font-size: 35px;
    }
    .company__discription{
        text-align: justify;
        padding: 0 14px 14px 14px;
    }
    .company__item{
        display: flex;
        justify-content: center;
    }
}