.faq__container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 144px 0 0 0;
}
.faq__faq{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    text-transform: uppercase;
}
.faq__answer{
    max-width: 347px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    margin: 40px 0 61px 0;
    b{
        color:rgb(0, 95, 163);
    }
}
input {
  position: absolute; 
  z-index: -1;
}
.tabs {
  max-width: 730px;
}
.tab {
  color:#222222;
  overflow: hidden;
  &-label {
  display: flex;
  padding: 30px;
  color: #222222;
  background:  #EBEBEB;
  font-weight: bold;
  font-family: 'Lato';
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
    &:hover {
      cursor: pointer;
      color: #fff;
      background:rgb(0, 95, 163);
      }
    &:before {
      content: "\002B";
      transition: all 0.1s;
      margin: 0 19px 0 0;
    }
  }
  &-content {
    line-height: 138%;
    color: #fff;
    max-height: 0;
    background: rgb(0, 95, 163);
    transition: all 0.1s;
  }
}
  
  input:checked {
    + .tab-label {
      background: rgb(0, 95, 163);
      &::before {
        content: '\2212';
      }
    }
    ~.tab-content {
      max-height: 730px;
      padding: 10px;
    }
  }
.faq_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}