.faq__container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 144px 0 76px 0;
}
.faq__faq{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
}
.faq__answer{
    max-width: 347px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    margin: 40px 0 61px 0;
    b{
        color:rgba(0, 95, 163, 1);
    }
}
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .row {
    display:flex;
    .col {
      flex:1;
      &:last-child {
        margin-left: 15px;
      }
    }
  }
  .tabs {
      max-width: 730px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
  }
  .tab {
    width: 730px;
    color:#222222;
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 25px;
      background:  rgb(128, 174, 235);
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: darken(rgb(128, 174, 235), 10%);
      }
      &::before {
        content: "\276F";
        width: 10px;
        height: 20px;
        text-align: center;
        transition: all 0.1s;
      }
    }
    &-content {
    color: #ffffff;
      max-height: 0;
      padding: 1px;
      background: rgb(128, 174, 235);
      transition: all 0.2s;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 15px;
      font-size: 15px;
      cursor: pointer;
    }
  }
  
  input:checked {
    + .tab-label {
      background: darken( rgb(128, 174, 235), 10%);
      &::before {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 10050px;
      padding: 10px;
    }
  }