.gallery{
    background: #EBEBEB;
}
.gallery__container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 140px 0;
}
.gallery__title{
font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 69px;
color: #333333;
margin: 0 0 42px 0;
}
.gallery__grid{
    display: grid;
    grid-template-columns: minmax(255px,1fr)  minmax(255px,1fr) auto;
    grid-template-rows: 255px 255px;
    gap: 30px;
}
img{
    cursor: zoom-in;
}
img[tabindex='0']:focus{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 93%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(59,59,59,0.98);
}
.gallery__women{
    grid-column: 1 / 3 ;
}


