.slider{
    position: relative;
}
.swiper-slide{
    max-width: 1920px;
}
.slider-item__title{
    position: absolute;
    top: 170px;
    left: 405px;
    max-width: 589px;
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: #fff;
}
.slider-item__btn{
    margin: 0 0 80px; 
    padding: 17px 86px;
    background: #005FA3;
    color: #fff;
    position: absolute;
    top:367px;
    left: 405px;
    border:none; 
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.slider-item__flex{
    display: flex;
}
.dot{
    margin: 0 40px 0 0;
    width: 10px;
    height: 10px;
    background: #EBEBEB;
    border-radius: 50%;
}
.slider-item__pagination{
    display: flex;
    position: absolute;
    bottom: 113px;
    left: 405px;
}
.slider-item__press{
    position: absolute;
    bottom: 113px;
    right: 405px;
}
@media (min-width:320px) and (max-width:425px){
    .slider-item{
        img{
            height: 200px;
        }
    }
    .slider-item__title{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 14px;
        max-width: 200px;
        line-height: 30px;
    }
    .slider-item__flex{
        display: none;
    }
    .slider-item__btn{
         padding: 5px 15px;
        background: #005FA3;
        color: #fff;
        position: absolute;
        top:120px;
        left: 30px;
        border:none; 
        font-family: 'Lato';
        font-weight: 400;
        font-size: 12px;
        line-height: 25px;
    }
}