.block
    .block__container 
     .block__title Наши услуги
        .block__subtitle Мы специализируемся
        .block__cards   
            .block__item
                a(href="#") 
                    .block__text Бухгалтерское обслуживание
            .block__item
                a(href="#")
                    .block__text Бухгалтерское обслуживание
            .block__item
                a(href="#")
                    .block__text Бухгалтерское обслуживание
            .block__item
                a(href="#")
                    .block__text Бухгалтерское обслуживание
            .block__item
                a(href="#")
                    .block__text Бухгалтерское обслуживание
            .block__item
                a(href="#") 
                    .block__text Бухгалтерское обслуживание
