.company__container
    .company__text
        .company__about О нас
        .company__title Компания <b>ИвановПром</b>
        .company__discription Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
    .company__item 
        .company__case 
            .company__number 90
            .company__deal Завершено крупных сделок
            .company__link
                a(href="#")  Все кейсы
        .company__case 
            .company__number 90
            .company__deal Завершено крупных сделок
            .company__link
                a(href="#")  Все кейсы
        .company__case 
            .company__number 90
            .company__deal Завершено крупных сделок
            .company__link
                a(href="#")  Все кейсы
        .company__case 
            .company__number 90
            .company__deal Завершено крупных сделок
            .company__link
                a(href="#")  Все кейсы                        
