.footer
    .footer__container
        .footer__flex
            .footer__info
                .footer__title Связь с нами
                .footer__text У вас остались вопросы? Напишите нам - мы ответим в ближайшее время!
                .footer__contact 
                    .footer__number +7 (111) 222-33-44
                    .footer__mail order@bu-one.ru
            .footer__form
                form.subscribe
                    .burakov
                        p Имя
                        input.dima(type="text", placeholder="Иван")
                    .burakov
                        p Фамилия
                        input.dima(type="text", placeholder="Иванов")
                    .burakov    
                        p Сообщение
                        input.dimaB(type="text", placeholder="Ваше сообщение")
            .footer__map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A60e394c8ace264d21627ec8fac6e10d73335c42d78dd57a8b1393c1c329126e0&amp;width=1110&amp;height=360&amp;lang=ru_RU&amp;scroll=true"></script>