.gallery
    .gallery__container 
        .gallery__title Фотогаллерея
        .gallery__grid 
            img(src="./assets/imgs/women.png", alt="w").gallery__first
            img(src="./assets/imgs/gea.png", alt="h").gallery__second
            img(src="./assets/imgs/hands.png", alt="m").gallery__third
            img(src="./assets/imgs/men.png", alt="g").gallery__four