.container
    .header__menu   
        .header__logo   
            img(src="./assets/imgs/logo.png", alt="logo").header__log
            img(src="./assets/imgs/BuhOne.png", alt="img").header__img
        .header__contact 
            ul.header__info
                li 8 (111) 222-33-44
                li Пн-Пт 10:00-18:00
                li order@buhone.ru
                li Невский пр. 130
            ul.header__list     
                li Главная
                li услуги
                li кейсы
                li о компании
                li контакты