.slider
    img(src="./assets/imgs/piter.png", alt=""   )
    .slider__container
        p.slider__title Бухгалтерские услуги в Санкт-Петербурге
        button.button Связь с нами
        .pagination 
            .touch
                .dot
                .dot
                .dot
                .dot
            .arrow  
                .prev 
                    img(src="./assets/imgs/slider__button-prev.png", alt="prev")
                .right
                    img(src="./assets/imgs/slider__button-next.png", alt="prev")    
    



            