include ../mixins/slider-item.pug
.slider
    .swiper
        .swiper-wrapper
            .swiper-slide
                +slider-item({
                    img: "./assets/imgs/piter.png",
                    title:'Бухгалтерские услуги в Санкт-Петербурге', 
                })
            .swiper-slide
                +slider-item({
                    img: "./assets/imgs/piterSec.jpg",
                    title:'Бухгалтерские услуги в Санкт-Петербурге', 
                })
            .swiper-slide
                +slider-item({
                    img: "./assets/imgs/piterThree.jpg",
                    title:'Бухгалтерские услуги в Санкт-Петербурге', 
                })
            .swiper-slide
                +slider-item({
                    img: "./assets/imgs/piterFour.jpg",
                    title:'Бухгалтерские услуги в Санкт-Петербурге', 
                })